doctype html
html
    head
        title #{title}
    style
    body
        h1 Название сайта*: #{site_name}
        a(href=dirSitePath, download) Скачать архив #{outputArchivePath}
        a(href="/") Назад