doctype html
html
  head
    title Буанзу
  style
  body
    h1 Добро пожаловать в Буанзу
    ul
      each post in posts
        li #{post.site_name}
          a(href='articles/' + post.id)  Читать
    a(href="create") Создать
