* {
    font-family: 'Exo 2', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: rgb(234,236,231);
}

h1 {
    color: rgb(138,78,54);
    margin: 20px 30px;
    /*font: 2em/1.5 'Headers', sans-serif;*/
}
p{
    margin: 5px 10px;
}
ul {
    display: flex;
    flex-direction: column-reverse;
}
ul li.site {
    margin: 10px;
    border: 1px solid;
    max-width: 300px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
ul li.site a.button_to_site {
    margin-top: 10px;
    font-size: 16px;
    text-decoration: none;
    background-color: rgb(201,84,51);
    color: rgb(234,236,231);
    text-align: center;
    opacity: 0.9;
    padding: 8px 10px;
    max-width: 170px;
}
.button_to_site {
    margin-top: 10px;
    font-size: 16px;
    text-decoration: none;
    background-color: rgb(201,84,51);
    color: rgb(234,236,231);
    text-align: center;
    opacity: 0.9;
    padding: 8px 10px;
    max-width: 170px;
}
ul li.site a.button_to_site:hover {
    opacity: 1
}
/*-- create-site.pug*/
form{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
input {
    padding: 3px;
    /*box-shadow: 3px 3px 5px grey;*/
    font-size: 14px;
    font-weight: 600;
    width: 300px;
    border-radius: 5px;
    border: 1px solid rgb(138,78,54);
    margin-top: 5px;
    color: rgb(138,78,54);
    font-style: normal;
    font-size: 14px;
}
input[type=color]{
    max-width: 100px;
}
label {
    color: rgb(201,84,51);
    float: left;
    margin: 10px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
img{
    max-width: 300px;
    max-height: 100px;
    margin: 5px 0px;
}
button {
    border: 2px solid rgb(201,84,51);
    box-shadow: 7px 7px 7px rgb(201,84,51);
    color: rgb(201,84,51);
    border-radius: 5px;
    display: inline-block;
    padding: 5px 15px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border-radius: 30px;
    margin: 25px 10px;
    background-color: rgb(234,236,231);
    max-width: 300px;
}
/*--create-site.pug*/

.button_download {
    border: 2px solid rgb(201,84,51);
    box-shadow: 7px 7px 7px rgb(201,84,51);
    color: rgb(201,84,51);
    border-radius: 5px;
    display: inline-block;
    padding: 5px 15px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border-radius: 30px;
    margin: 25px auto;
    display: block;
    background-color: rgb(234,236,231);
    max-width: 300px;
}

.button_to_main {
    border: 2px solid rgb(34,33,38);
    color: rgb(34,33,38);
    display: inline-block;
    padding: 5px 15px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border-radius: 30px;
    margin: 25px 10px;
}

.button_create {
    border: 2px solid rgb(201,84,51);
    box-shadow: 7px 7px 7px rgb(201,84,51);
    color: rgb(201,84,51);
    padding: 5px 15px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border-radius: 30px;
    margin: 25px 10px;
    display: block;
    background-color: rgb(234,236,231);
    max-width: 300px;
}

.button_unicode {
    margin-top: 10px;
    font-size: 16px;
    text-decoration: none;
    background-color: rgb(201,84,51);
    color: rgb(234,236,231);
    text-align: center;
    opacity: 0.9;
    padding: 8px 10px;
    max-width: 170px;
}

/*-- site.pug*/
p.question {
    color: #222126;
    font-weight: 550; 
}

p.answer {
    color: #222126;
}
/*site.pug --*/